@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Previnir o comportamento padrão do autofill */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

:root {
  --bg-color: #f0f0f0;
  --section-bg-color: white;
  --button-color: #8dc640;
  --button-hover: #78aa37;
  --border-color: rgb(201, 201, 201);
}

body {
  font-family: inter, "Trebuchet MS", sans-serif;
  background-color: var(--bg-color);
}

.overflow-hidden {
  overflow: hidden;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-main {
  background-color: var(--section-bg-color);
  display: flex;
  height: 100vh;
}

.login-banner {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.login-banner-bg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.login-banner-logo {
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 6%;
  height: 100%;
}

.login-nav {
  display: flex;
  margin-top: 15%;
  margin-bottom: 2rem;
}

.login-nav-button:hover {
  cursor: pointer;
}

.login-nav-p {
  width: 100%;
  padding: 0.6rem 3.5rem;
  border-bottom: 1px solid rgb(29, 29, 29);
  transition: all 0.3s;
}

.login-nav-p.selected {
  width: 100%;
  padding: 0.6rem 3.5rem;
  border-bottom: 4px solid rgb(29, 29, 29);
}

.std-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(10%, 2rem);
  justify-content: center;
  max-width: 400px;
  height: 100%;
}

.login-form {
  height: 50%;
}

.register-form {
  height: 70%;
  gap: min(5%, 1.4rem);
}

.form-input-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.form-input {
  border: 1px solid black;
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
}

.form-input.invalid {
  border: 1px solid red;
}

.form-input:focus ~ .form-label {
  transform: translateY(-1.4rem);
}

.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-1.4rem);
}

.form-input-error {
  font-size: 0.8rem;
  color: red;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.form-label {
  color: rgb(39, 39, 39);
  font-size: 0.8rem;
  position: absolute;
  left: 1.2rem;
  transition: all 0.2s ease-out;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.form-label-textarea {
  color: rgb(39, 39, 39);
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  left: 1.2rem;
  background-color: var(--section-bg-color);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.form-submit {
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.6rem 0;
  background-color: var(--button-color);
  color: white;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.form-submit:hover {
  cursor: pointer;
  background-color: var(--button-hover);
  scale: 102%;
}

.std-header {
  width: 100%;
  background-color: var(--section-bg-color);
  position: relative;
  z-index: 10;
  height: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.1rem;
}

.header-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.header-logo {
  height: 100%;
  object-fit: scale-down;
  padding: 1.3rem 0;
}

.header-logo:hover {
  cursor: pointer;
}

.header-nav-right {
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-profile-pic {
  object-fit: contain;
  border-radius: 100%;
  transition: all 0.2s;
}

.header-profile-pic:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  scale: 105%;
  cursor: pointer;
}

.header-action {
  height: 100%;
  padding: 1.8rem 0;
  object-fit: contain;
  color: black;
  transition: all 0.2s;
}

.header-action:hover {
  cursor: pointer;
  scale: 115%;
}

.page-main {
  background-color: var(--section-bg-color);
  width: 100%;
  height: 100%;
  min-height: calc(99.9vh - 80px);
  max-width: 1100px;
  margin: auto;
}

.search-form {
  background-color: var(--section-bg-color);
  display: flex;
  gap: 1.5rem;
  padding: 1.8rem 1.2rem;
  border-bottom: 2px solid var(--border-color);
}

.search-results {
  display: flex;
  width: 100%;
  background-color: var(--section-bg-color);
  margin-top: 1.2rem;
}

.search-results-info {
  font-size: 0.75rem;
  font-weight: 200;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border-color);
}

.search-aside {
  width: 35%;
  height: calc(100vh - 205px);
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}

.aside-job-container {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  gap: 1rem;
  transition: all 0.2s;
}

.aside-job-container.selected {
  background-color: #f6f6f6;
}

.aside-job-container:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.aside-job-icon {
  height: 50%;
  object-fit: contain;
  border: 1px solid var(--border-color);
  aspect-ratio: 1 /1;
}

.aside-job-title {
  font-size: 1rem;
}

.aside-job-company {
  padding-top: 0.2rem;
  padding-bottom: 0.35rem;
  font-size: 0.8rem;
}

.aside-job-p {
  font-size: 0.8rem;
  padding: 0.3rem 0;
  font-weight: 200;
}

.search-job-display {
  padding: 0 2rem;
  width: 65%;
  height: calc(100vh - 205px);
  overflow: auto;
}

.job-display-icon {
  height: 5rem;
  object-fit: contain;
  border: 1px solid var(--border-color);
  aspect-ratio: 1 /1;
  margin-bottom: 1rem;
}

.job-display-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.job-display-p-thin {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0.8rem 0;
}

.job-display-button {
  width: 33%;
  margin: 1.2rem 0;
}

.job-display-p {
  margin-bottom: 1rem;
}

.jobs-not-found {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
