#post-search {
  width: 100%;
  background-color: var(--section-bg-color);
}

.post-job-container {
  padding: 1rem 2rem;
  display: flex;
  transition: all 0.2s;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 0.5rem;
}

.post-job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
  gap: 2rem;
}

.post-job-menu {
  align-self: flex-end;
  display: flex;
  gap: 1.5rem;
  padding-left: 0.5rem;
}

.post-job-option {
  width: 20px;
  transition: all 0.2s;
}
.post-job-option:hover {
  cursor: pointer;
  scale: 120%;
}

.post-job-title {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-job-company {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 120px;
}

.post-job-p {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 748px) {
  .post-job-p {
    display: none;
  }

  .post-job-title {
    width: 65%;
  }

  .post-job-company {
    width: 35%;
  }

  .post-job-menu {
    gap: 0.5rem;
  }

  .post-job-info {
    gap: 1rem;
  }

  .post-job-container {
    padding: 1rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .post-job-company {
    min-width: 100px;
    width: 40%;
  }

  .post-job-title {
    width: 60%;
  }
}
