#post-search {
  width: 100%;
  background-color: var(--section-bg-color);
}

.post-job-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  transition: all 0.2s;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 0.5rem;
}

.post-job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 2rem;
}

.post-job-menu {
  display: flex;
  gap: 1.5rem;
}

.post-job-option {
  width: 20px;
  transition: all 0.2s;
}
.post-job-option:hover {
  cursor: pointer;
  scale: 120%;
}

.exclude-icon:hover {
  filter: brightness(0) saturate(100%) invert(33%) sepia(93%) saturate(5000%)
    hue-rotate(0deg) brightness(95%) contrast(105%);
}

.edit-icon:hover {
  filter: brightness(0) saturate(100%) invert(67%) sepia(62%) saturate(434%)
    hue-rotate(87deg) brightness(92%) contrast(90%);
}

.post-job-title {
  width: 60%;
}

.post-job-company {
  width: 20%;
}

.post-job-p {
  width: 20%;
}
