.form-textarea {
  background-color: var(--section-bg-color);
  border: 1px solid black;
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  height: 6rem;
  max-width: 100%;
  max-height: 400px;
  min-height: 43px ;
  font-family: inter, "Trebuchet MS", sans-serif;
}

.form-title-input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.form-title-input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
