@import url("./App.css");

.home-main {
  background-color: var(--bg-color);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-section-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: min(8%, 3.5rem);
}

.home-left {
  width: 45%;
  font-size: min(7.5vw, 8rem);
  font-weight: 700;
  letter-spacing: 0.25rem;
}

.home-right {
  width: 55%;
  max-width: 500px;
}

.home-right-link {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: rgb(26, 90, 228);
}

.home-right-link:hover {
  text-decoration: underline;
}

#home-form {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

@media (max-width: 748px) {
  .home-section-container {
    flex-direction: column;
    height: 50vh;
    gap: 2rem;
  }

  .home-left {
    width: 100%;
    text-align: center;
  }

  .home-right {
    width: 100%;
  }
}
